
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1496161213016'); /* IE9*/
  src: url('../font/iconfont.eot?t=1496161213016#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1496161213016') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1496161213016') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1496161213016#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  /* font-size:16px; */
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before { content: "\e600"; }

.icon-llcouponsupportedshopaddress:before { content: "\e601"; }

.icon-diannao:before { content: "\e60d"; }

.icon-wangyelianjie:before { content: "\e602"; }

.icon-shouji:before { content: "\e632"; }

.icon-xinfeng:before { content: "\e603"; }

.icon-wangyelianjie1:before { content: "\e67b"; }

