
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1494933863809'); /* IE9*/
  src: url('../font/iconfont.eot?t=1494933863809#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1494933863809') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1494933863809') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1494933863809#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-zhibo:before { content: "\e620"; }

.icon-zanting:before { content: "\e696"; }

.icon-pause:before { content: "\e602"; }

.icon-yinliang:before { content: "\e629"; }

.icon-jingyin:before { content: "\e628"; }

.icon-zanting2:before { content: "\e61e"; }

.icon-guanbi01:before { content: "\e621"; }

.icon-shangyige:before { content: "\e62a"; }

.icon-icons-zanting:before { content: "\e61f"; }

.icon-icons-zanting1:before { content: "\e691"; }

.icon-zanting3:before { content: "\e6e3"; }

